<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= language.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h1 class="mb-4"><%= language.title %></h1>
    <div class="card mt-4">
      <div class="card-body">
        <a href="/default"><%= language.omoitukanai %></a>
        <h2 id="" class="card-title mb-4"><%= language.new_task %></h2>
        <form id="task-form" action="/add" method="post" onsubmit="return validateForm();">
          <div class="form-group">
            <input id="taskNameInput" class="form-control" type="text" name="taskName" placeholder="<%= language.new_task_name %>" required maxlength="150">
          </div>
          <input type="hidden" id="selected-value" name="selected-value">
          <button class="btn btn-primary"><%= language.add_btn %></button>
        
          <p>優先度を入力</p>
          <button id="low" name="low-priority" type="button" class="btn btn-secondary">小</button>
          <button id="medium" name="medium-priority" type="button" class="btn btn-secondary">中</button>
          <button id="high" name="high-priority" type="button" class="btn btn-secondary">大</button>
          
        </form>
        

      </div>
    </div>
    
    <div class="card mt-4">
      <div class="card-body">
        <h2 class="card-title mb-4"><%= language.task_list %></h2>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><%= language.task_name %></th>
                <th><%= language.task_add_date %></th>
                <th><%= language.task_priority %></th>
                <th><%= language.task_priority %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(let i = 0; i < tasks.length; i++) { %>
                <tr>
                  <td><%= tasks[i].task_name %></td>
                  <td><%= new Date(tasks[i].time).toLocaleString() %></td>
                  <td><%= tasks[i].priority %></td>
                  <td>
                    <form action="/delete" method="post">
                      <input type="hidden" name="taskId" value="<%= tasks[i].id %>">
                      <button class="btn btn-danger"><%= language.task_delete %></button>
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script>
    function validateForm() {
      // 入力欄からスペースを取り除く
      const taskName = document.getElementById("taskNameInput").value.trim();
      // 空文字の場合は送信しない
      if (taskName === "") {
        alert("<%= language.task_add_error %>");
        return false;
      }

      const selectedValue = document.querySelector('#selected-value').value;
      // 優先度が選択されていない場合は送信しない
      if (!selectedValue) {
        alert('優先度を選択してください。');
        return false;
      }

      return true;
    }

    const textarea = document.getElementById("taskNameInput");
    const counter = document.createElement("span");
    counter.innerHTML = "0 <%= language.task_text_limit %>";
    textarea.parentNode.appendChild(counter);

    textarea.addEventListener("input", () => {
      const count = textarea.value.length;
      counter.innerHTML = `${count}<%= language.task_text_limit %>`;
      if (count === 150) {
        textarea.value = textarea.value.slice(0, 150);
        counter.innerHTML = "<%= language.task_text_alert %>";
      }
    });

    const taskForm = document.querySelector('#task-form');
    taskForm.addEventListener('submit', validateForm);



    const lowPriorityBtn = document.querySelector('button[name="low-priority"]');
    const mediumPriorityBtn = document.querySelector('button[name="medium-priority"]');
    const highPriorityBtn = document.querySelector('button[name="high-priority"]');
    const selectedValueInput = document.querySelector('#selected-value');

    lowPriorityBtn.addEventListener('click', () => {
      selectedValueInput.value = '1';
      lowPriorityBtn.classList.add('btn-info');
      mediumPriorityBtn.classList.remove('btn-info');
      highPriorityBtn.classList.remove('btn-info');
    });

    mediumPriorityBtn.addEventListener('click', () => {
      selectedValueInput.value = '2';
      lowPriorityBtn.classList.remove('btn-info');
      mediumPriorityBtn.classList.add('btn-info');
      highPriorityBtn.classList.remove('btn-info');
    });

    highPriorityBtn.addEventListener('click', () => {
      selectedValueInput.value = '3';
      lowPriorityBtn.classList.remove('btn-info');
      mediumPriorityBtn.classList.remove('btn-info');
      highPriorityBtn.classList.add('btn-info');
    });


  </script>
  
</body>
</html>
